<<<<<<< HEAD:app/views/projects/index.html.erb
<h1>Project list</h1>
<% if @projects.blank? %>
    <p>no projects to display</p>
<%else%>
  <p> <%= link_to "View by supervisor", {:action => 'by_supervisor'} %> | <%= link_to "View by discipline", {:action => 'by_discipline'} %> | <%= link_to "View by centre", {:action => 'by_centre'} %></p>
  
  <% if flash[:notice] -%>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  
  <table border="0">
  	<thead><td>Number</td><td>Title</td><td>Supervisor</td><td>Email</td></thead>
  	<tbody>
    <% @projects.each do |c| %>
      <% u = User.find(c.created_by) %>
      <tr>
      	<td>
      	  <%= c.id -%>
      	</td>
      	<td>
          <%= link_to c.title, {:action => 'show', :id => c.id} -%>
        </td>
        <td><%= u.title -%> 
               <%= u.first_name -%>
               <%= u.last_name -%>
        </td>
        <td><a href="mailto:<%= u.email -%>">
               	 <%= u.email -%></a>
        </td>
        </tr>
      <%end%>
  </tbody>
  </table>
<%end%>
=======
<% title "All Projects" %>
<p><%= render(:partial => "navigation") %></p>

<table>
  <thead><td>Number</td><td>Title</td><td>Supervisor</td><td>Email</td><td colspan="2">Action</td></thead>
  <tbody>

  <% @projects.each do |project| %>
    <% creator = User.find(project.created_by) %>
    <tr>
      <td>
        <%= project.id -%>
      </td>
      <td>
        <%= link_to project.title, project %>
      </td>
      <td><%= creator.name %>
      </td>
      <td><a href="mailto:<%= creator.email %>">
        <%= creator.email -%></a>
      </td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>
>>>>>>> 336471e6be257cf55c9afa2a65f928fde34e41fe:app/views/projects/index.html.erb
