<h1>Create new project</h1>
<%= print session %>
<% form_for :project, :url => {:action=>'create'} do |f|%>

  <%= f.hidden_field :created_by, { :value => session[:user_id] } %>
  
<%= render :partial => "project", :object => @project, :locals => {:f => f, :disciplines => @disciplines }%>
  


  
  <%= f.submit "Create" %>
<%end%>
  <p><%= link_to 'Back', {:action => 'index'} %></p>
