<h1>Edit Project</h1>

<p> <%= link_to "View all", {:action => 'order_by_creator'} %> | <%= link_to "View by discipline", {:action => 'order_by_disciplines'} %></p>
  
<%form_for :project, :url => {:action=>'update', :id => @project.id} do |f|%>


  <p><label for="project_createdby">Created by:</label>
  <%= f.text_field 'created_by' %></p>
  
   <p><label for="project_title">Title:</label>
    <%= f.text_field 'title' %></p>
  
   <p><label for="project_description">Description:</label>
  <%= f.text_area  'description' %></p>
  
     <p><label for="project_resources">Resources:</label>
  <%= f.text_field  'resources' %></p>
  
  
  
  <p>Suitable for:
    <select id='discipline_ids' name="discipline_ids[]" multiple="multiple">
        <%= options_for_select(@disciplines, 
           @project.disciplines.collect {|d| d.id }) %>
      </select>
  </p>
  

  <%= f.submit "Update" %>
<%end%>
  <p><%= link_to 'Back', {:action => 'index'} %></p>
